.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    padding: 4rem;
    margin-top: 15rem;
    grid-gap: 1rem;
    place-items: center;
}

.product {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 30rem;
    height: 40rem;
    border-radius: 1rem;
    padding: 1.2rem;
    background-color: #00d5ff2f;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.171);
    color: unset;
    margin: 1.5rem;
    transition: scale 0.45s ease;
}

.product p,
.product h2 {
    font-size: 1.2em;
    word-break: break-word;
    line-height: 1.2;
}

.product .product-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1rem;
}

.product img {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.171);
    border-radius: 1rem;
    margin-top: 0.6rem;
}

.product a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
}

.product .buy-btn {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product .buy-btn span {
    font-size: 1.7rem;
    font-weight: bold;
    color: #0099ff;
}

.product .buy-btn .vnd {
    font-size: 1rem;
}

.product button {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #0b70f4ca;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    border: none;
    cursor: pointer;
    margin-top: 0;
}

.product a:hover {
    opacity: 0.8;
}

.go-top {
    width: 5rem;
    height: 5rem;
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    z-index: 999;
    display: none;
}

.go-top img {
    width: 3rem;
    height: 3rem;
}

.show {
    display: block !important;
}
