@import url("./Form.css");
@import url("./Animation.css");

.login-form {
    display: none;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 40rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.332);
    padding: 2rem;
    border-radius: 1rem;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 5rem;
    cursor: default;
}

.login-form::before {
    content: "";
    width: 13rem;
    height: 5rem;
    right: 0;
    top: -3rem;
    position: absolute;
}

.login-form span {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #0033ff;
}

.login-form .form-body .password {
    margin-top: 1rem;
}

.login-form .form-body .remember-psw {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.login-form .form-body .remember-psw label {
    font-size: 1rem !important;
    margin-left: 1rem;
}

.login-form .form-body .remember-psw input[type="checkbox"] {
    width: unset;
    height: unset;
    cursor: pointer;
}

.login-form .form-body a {
    font-size: 1rem;
    color: #0033ff;
}
