.banner-2 {
    min-height: 50rem;
    padding: 5rem;
    margin: 10rem 0;
    background-color: #0099ff14 !important;
}

.banner-2 .banner-2__title-1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3em;
    margin-bottom: 1rem;
    color: #0434d2;
}

.banner-2 .banner-2__description {
    margin-top: 1rem;
    font-size: 1.4em;
}

.banner-2__container .images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.banner-2__container .images span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 5rem;
}

.banner-2__container .images span:nth-child(4) {
    margin-top: 5rem;
}

.banner-2__container .images span:nth-child(5) {
    margin-top: 5rem;
}

.banner-2__container .images .image-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #0434d2;
    margin-top: 1rem;
    font-size: 1.5em;
}

.banner-2 .images .image-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 30rem;
}

.banner-2__container .images .image-description {
  max-width: 25rem;
    font-size: 1.2em;
    text-align: center;
}
