.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin-bottom: 10rem;
}

.container h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 4em;
    color: #0434d2;
}

.container .news {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    margin-top: 5rem;
}

.container .news img {
    width: 46.5rem;
    height: 30rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    object-fit: cover;
}

.news-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 5rem;
}

.news-body .news-title {
    font-size: 2.4em;
    color: #0434d2;
    margin-bottom: 3rem;
}

.news-body .news-description {
    font-size: 1.5em;
}
