.buy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10rem 4rem;
}

.buy-container img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem;
    z-index: -9999;
}

.buy-container .buy-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 50rem;
    padding: 5rem;
}

.buy-container .buy-form .product-container {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid #0434d2;
}

.buy-container .buy-form .product-container span {
    font-size: 1.2em;
    font-weight: bold;
}

.buy-container .buy-form h1 {
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #0434d2;
}

.buy-form .product-container .product-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-gap: 2rem;
    place-items: center;
    width: 100%;
}

.product-container .product-wrapper .product-item {
    min-width: 10rem;
}

.product-container .product-wrapper .product-item img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

.product-container .product-wrapper .product-item-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-container .product-wrapper .product-item-name i {
    height: 2.5rem;
    padding-left: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.product-container .product-wrapper .product-item-name label {
    font-size: 1em;
    font-weight: bold;
}

.product-wrapper .quantity {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.total {
    margin-left: 1rem;
    font-size: 1.5em;
    margin-bottom: 1rem;
}
