.header {
    height: 10rem;
    position: relative;
}

.header #logo .name {
    font-size: 2rem;
    font-weight: bold;
    top: 50%;
    left: 20rem;
    border-right: 1px solid;
    padding: 0 1rem;
    transform: translateY(-50%);
    color: white;
    position: absolute;
}

.header #logo #id {
    font-size: 2rem;
    top: 50%;
    left: 36.5rem;
    padding: 0 0.5rem;
    transform: translateY(-50%);
    position: absolute;
}

.header #logo img {
    object-fit: cover;
    top: 43%;
    left: 4rem;
    transform: translateY(-50%);
    position: absolute;
}

.header #logo svg {
    position: absolute;
    z-index: -999;
}

.header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 2em;
    min-width: 40rem;
    top: 50%;
    right: 4rem;
    transform: translateY(-50%);
    position: absolute;
}

.header ul li {
    margin: 2rem;
}

.header ul li a {
    font-weight: bold;
    color: white;
    position: relative;
}

.header ul li a::before {
    content: "";
    width: 0;
    bottom: -0.5rem;
    left: 0;
    transition: all 0.5s ease;
    background: white;
    position: absolute;
}

.header ul li:hover a::before {
    content: "";
    width: 100%;
    height: 1px;
    bottom: -0.5rem;
    left: 0;
    background: white;
    position: absolute;
}

.header ul li:last-child {
    border-left: 1px solid white;
    padding-left: 4rem;
}

.header ul li:last-child:hover #login {
    display: flex;
    animation: showForm 0.8s ease;
}
